@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');

:root 
{
    --font-family: 'Zen Dots', cursive;
    --bg-color: #251749;
    --primary-color: #CFFDE1;
}

body 
{
    font-family:var(--font-family);
    background-color: var(--bg-color);
    color: var(--primary-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
}

h1 
{
    font-size: 4em;
    margin: 0 .5rem;
}
h2 {
    font-size: 4em;
}

h3
{
    font-size: 2em;
    margin-top: 1.2rem;
} 

.mensagem 
{
    font-size: 1.4em;
    margin-top: 4rem;
}

.box 
{
    border: 2px solid var(--primary-color);
    display: inline-block;
    font-size: 5em;
    padding: .8rem;
    margin: .5rem .5rem 1.5rem;
}

.jogarNovamente
{
    padding: 8px 15px;
    border: 0;
    background-color: var(--primary-color);
    border-radius: 5px;
    margin-top: 20px;
}